
body{
	font-family: 'Fredoka One', cursive;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #fff;
}
body::-webkit-scrollbar {
    width: 10px;

}

body::-webkit-scrollbar-thumb {
  background-color: #f8cacc;
  /*outline: 1px solid slategrey;*/
   border-radius: 10px;
}

button{
	color: #fff;
	font-family: 'Fredoka One', cursive;
	background: #8da4d0;
	width: 120px;
	height: 30px;
	border:none;
	border-radius: 10px;
	position: absolute;
	left: 32%;
	top: 150px;
	font-size: 20px;
}

.wallpaper{
	height: 800px;
	width: 100%
    background: red;      
    background: -webkit-linear-gradient(-90deg, #8da4d0, #f8cacc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg,  #8da4d0, #f8cacc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg,  #8da4d0, #f8cacc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg,  #8da4d0, #f8cacc); /* Standard syntax (must be last)*/
    position: relative;
}
.result{
	float: left;
	text-align: center;
	color: #fff;
	font-family: 'Fredoka One', cursive;
	font-size: 80px;
	margin-top: 10%;
	margin-left: 40%;

}
button{
	color: #fff;
	font-family: 'Fredoka One', cursive;
	background: #8da4d0;
	width: 200px;
	height: 50px;
	border:none;
	border-radius: 10px;
	position: absolute;
	left: 45%;
	top: 40%;
	font-size: 20px;
}
button:hover{
	 transition: 0.3s
	 background:#f8cacc;
}